.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 20px;
  color: #EFEFEF;
}

.Post {
  padding: 20px;
  text-align: left;
}

.Post-Votes {
  font-size: 20px;
  padding: 20px;
}

/* OVERRIDING BOOSTRAP PANEL STYLES */
.Post-Panel {
  border-radius: 0px;
}
.Post-Panel a {
  text-decoration: none;
  padding-bottom: 2px;
  font-weight: bold;
}

.Post-Panel a>i {
  margin-top: -10px;
}

.Post-Panel > .panel-heading {
  padding-top: 20px;
  height: 60px;
}

.Post-Panel > .panel-collapse {
  min-height: 100px;
}
